html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body section*/
body {
    background: #ccc;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
    margin: auto;
}



/* images section*/
.figure{
   width: 100%;
}

.figure-caption {
   text-align: center;
   color: tomato;
   font-size: 20px;
}

.figure-img {
   height: 450px;
   width: 100%;
   
}


/* card section*/
.pink-text{
    position: ;
    color: red;
    font-size: 40px;
    
}

.card-title{
    
    color: red;
    font-size: 30px;
 				padding: -50px;
 				
   
}

.card-text{
    color: white;
    background-color:  rgb(81, 41, 29);
    text-align: center;
    
}

 @media screen and (min-width: 768px){
    .card-text{
        font-size: 35px;
        background-color: rgb(28, 4, 8);
  
    }
}

.about{
    position: fixed;
    color: blue;
 				font-size: 35px;
    background-color:  rgb(81, 41, 29);
}

.about-section{
   text-align: center;
   padding: 20px;
}

a, .navbar-brand{
font-size:  30px;
color: white;

}
.navbar-toggler-icon{
   color: red;
}
.form-section{
   width: 80%;
   margin: 0 10% 0 10%;
}
.nav-link{
   color: white;
   font-size: 20px;
  
   

}

/* footer section*/
.footer-section{
   background-color:  rgb(81, 41, 29);
   color: white;
}



/*media query section*/

@media screen and (min-width: 768px){
    .footer-section{
        background-color: rgb(81, 41, 29);
        font-size: 40px;
    }

}
/*end of media query section*/

/*nav section*/
nav, .bg{
    background-color: rgb(81, 41, 29);
    color: red;
}

.view { 
 
 background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center; background-size: cover; } @media (min-width: 768px) { .view { overflow: visible; margin-top: -56px; } } .navbar { z-index: 1; } html, body, header, .view { height: 100%; }
