html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body section*/
body {
    background: burlywood;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (min-width: 768px){
    body{
        background: burlywood; 
    }
}


/* images section*/
.figure{
   width: 100%;
}

.figure-caption {
   text-align: center;
   text-shadow: 1px 2px 3px rgb(81, 41, 29);
   color: whitesmoke;
   font-size: 40px;
}

.figure-img {
   height: 450px;
   width: 100%;
   padding: 30px;
   
}
/*first image with texts section*/
.picture-txt{
    padding: 100px;
    color: white;

}


/* card section*/
.flex-1{
    
    color:white;
    box-shadow: 5px 10px 11px 5px rgba(0, 0, 0, 4);
    border: 1px solid black;
    width: 100%;
    height: 420px;
    background-color: rgb(81, 41, 29);
    font-family: 'Times New Roman';
    font-size: 18px;
    
    
    
}

.pb-3{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

}

.about{
    position: fixed;
    color: blue;
 				font-size: 35px;
    background-color:  rgb(81, 41, 29);
}

.about-section{
   text-align: center;
   padding: 20px;
}


.form-section{
   width: 80%;
   margin: 0 10% 0 10%;
}

/* footer section*/
.footer-section{
   background-color:  rgb(81, 41, 29);
   color:black;
   
}
.page-footer{
    font-size: 25px;
    font-family: Arial, Helvetica;
}

@media screen and (min-width: 768px){
    .footer-section{
        color: black; 
    }
}



/*media query section*/

@media screen and (min-width: 768px){
    .footer-section{
        background-color: rgb(81, 41, 29);
        font-size: 18px;
    }

}


/*nav section*/
nav, .bg{
    background-color: rgb(81, 41, 29);
    color: red;
}

.view { 
 
    background: url("images/amina.jpg")no-repeat center center;
     background-size: cover;
     } 

     @media (min-width: 40em) {
        .view { overflow: visible; 
            margin-top: -56px;
        padding-top: 660px;
        font-size: 2rem;
        font-family: 'Times New Roman';
        text-shadow: 5px 6px 1px black;
        			  
         } 
}

@media (max-width: 992px) {
    .view { overflow: visible; 
        margin-top: -56px;
    padding-top: 230px;
    font-size: 2rem;
    font-family: 'Times New Roman';
    text-shadow: 5px 6px 1px black;

                  
     } 
}

.navbar {
               z-index: 1;
             } 
        html, body, header, .view { height: 100%; }
   


.navbar-brand{
        font-size:  30px;
        text-shadow: 1px 2px 3px rgb(81, 41, 87);
                      
}

.navbar-toggler-icon{
        color: red;
        }

.nav-link{
        color: white;
        font-size: 20px;
           
 }

/*form section*/
.form{
    color:black;
    box-shadow: 5px 10px 11px 5px rgba(0, 0, 0, 4);
    border: 1px solid black;
    width: 80%;
    height: 300px;
    margin: 50px auto;
    background-color: burlywood;
    font-family: 'Times New Roman';
    font-size: 18px;

}


.press-button{
    color:black;
    box-shadow: 5px 10px 11px 5px rgba(0, 0, 0, 4);
    border: 1px solid black;
    width: 80%;
    height: 50px;
    margin: 70px auto;
    background-color: burlywood;
    font-family: 'Times New Roman';
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
