html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body section*/
body {
    background: white;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
    margin: auto;
}



/* images section*/
.figure{
   width: 100%;
}

.figure-caption {
   text-align: center;
   color: tomato;
   font-size: 20px;
}

.figure-img {
   height: 450px;
   width: 100%;
   
}


/* card section*/
.pink-text{
    
    color: red;
    font-size: 40px;
    
}

.card-title{
    
    color: red;
    font-size: 30px;
 				padding: -50px;
 				
   
}

.card-text{
    color: white;
    
    text-align: center;
    
}


.about{
    position: fixed;
    color: blue;
 				font-size: 35px;
    background-color:  rgb(81, 41, 29);
}

.about-section{
   text-align: center;
   padding: 20px;
}


.form-section{
   width: 80%;
   margin: 0 10% 0 10%;
}

/* footer section*/
.footer-section{
   background-color:  rgb(81, 41, 29);
   color: white;
}



/*media query section*/

@media screen and (min-width: 768px){
    .footer-section{
        background-color: rgb(81, 41, 29);
        font-size: 18px;
    }

}


/*nav section*/
nav, .bg{
    background-color: rgb(81, 41, 29);
    color: red;
}

.view { 
 
    background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
     background-size: cover;
     } 
     @media (min-width: 768px) {
        .view { overflow: visible; 
            margin-top: -56px;
           
         } }
        .navbar {
               z-index: 1;
             } 
        html, body, header, .view { height: 100%; }
   

a, .navbar-brand{
        font-size:  30px;
        color: white;
                
}
.navbar-toggler-icon{
        color: red;
        }

.nav-link{
        color: white;
        font-size: 20px;
           
         }
